    footer {
        background-color: #2d2d2d;
        /* position: relative; */
        min-height: 315px;
        color: white;
        direction: rtl;
        /* padding-top: 130px; */
    }
    
    footer p a {
        color: white;
    }
    
    footer .copy-rights p {
        text-align: center;
    }
    
    .copy-rights {
        text-align: center;
        padding: 1px;
    }
    
    svg {
        display: block;
        font: 1.2em 'Montserrat';
        height: 17px;
        margin: 10px auto;
    }
    
    .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 6% 29%;
        stroke-width: 1px;
        stroke-dashoffset: 0%;
        -webkit-animation: stroke-offset 7s infinite linear;
        animation: stroke-offset 7s infinite linear;
    }
    
    .text-copy:nth-child(1) {
        stroke: #4D163D;
        -webkit-animation-delay: -1;
        animation-delay: -1;
    }
    
    .text-copy:nth-child(2) {
        stroke: #840037;
        -webkit-animation-delay: -2s;
        animation-delay: -2s;
    }
    
    .text-copy:nth-child(3) {
        stroke: #BD0034;
        -webkit-animation-delay: -3s;
        animation-delay: -3s;
    }
    
    .text-copy:nth-child(4) {
        stroke: #BD0034;
        -webkit-animation-delay: -4s;
        animation-delay: -4s;
    }
    
    .text-copy:nth-child(5) {
        stroke: #FDB731;
        -webkit-animation-delay: -5s;
        animation-delay: -5s;
    }
    
    @-webkit-keyframes stroke-offset {
        100% {
            stroke-dashoffset: -35%;
        }
    }
    
    @keyframes stroke-offset {
        100% {
            stroke-dashoffset: -35%;
        }
    }
    
    .footer hr:last-of-type {
        width: 85%;
        height: 1px;
        margin: 10px auto;
        background-color: #414141;
        color: #414141;
        border: 0 none;
    }
    
    footer .flex-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 8px;
    }
    
    .s-b {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
    .footer .footer--content-us {
        width: 32%;
    }
    
    .footer ul {
        list-style-type: none;
        width: 50%;
        float: left;
    }
    
    .footer div ul:first-of-type {
        float: right;
    }
    
    .footer li>a {
        position: relative;
        text-align: right;
        line-height: 35px;
        color: #ccc;
        padding-right: 15px;
    }
    
    .footer .footer--contact-us ul {
        width: 100%;
    }
    
    .footer .footer--contact-us li {
        position: relative;
        text-align: right;
        line-height: 25px;
        color: #ccc;
        padding-right: 5px;
    }
    
    .footer .footer--contact-us ul h4 {
        text-align: right;
        line-height: 35px;
        color: #ccc;
    }
    
    .follow-us ul {
        margin: 0px;
        padding: 0px;
    }
    
    .follow-us ul li {
        display: inline-block;
    }
    
    .footer li {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        transition: all .15s linear;
        -webkit-transition: all .15s linear;
        -moz-transition: all .15s linear;
        -ms-transition: all .15s linear;
        -o-transition: all .15s linear;
    }
    
    .footer .footer--quick-accses li:hover {
        background-color: rgba(0, 0, 0, 0.5);
        padding-right: 10px;
    }
    
    .footer .flex-row hr {
        margin: 4px 0px 4px 0px;
        width: 100%;
    }
    
    .footer .footer--quick-accses li>a:before {
        content: " ";
        display: block;
        position: absolute;
        width: 3px;
        height: 3px;
        background: rgb(0, 255, 179);
        right: 2px;
        top: 23px;
        top: .7rem;
        transition: all .2s .07s;
        -webkit-transition: all .2s .07s;
        -moz-transition: all .2s .07s;
        -ms-transition: all .2s .07s;
        -o-transition: all .2s .07s;
    }
    
    .footer fieldset {
        margin-top: 18px;
        border-color: #6b6b6b;
    }
    
    .footer button {
        display: inline-block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        color: white;
        width: 20%;
        border-radius: 0px 2px 2px 0px;
        background-color: #56c45f;
        -webkit-border-radius: 0px 2px 2px 0px;
        -moz-border-radius: 0px 2px 2px 0px;
        -ms-border-radius: 0px 2px 2px 0px;
        -o-border-radius: 0px 2px 2px 0px;
        padding: 8px 15px;
    }
    
    .footer button:hover {
        background-color: #2e8535;
    }
    
    .footer input {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin-right: -4px;
        width: 80%;
        display: inline-block;
        border-radius: 2px 0px 0px 2px;
        -webkit-border-radius: 2px 0px 0px 2px;
        -moz-border-radius: 2px 0px 0px 2px;
        -ms-border-radius: 2px 0px 0px 2px;
        -o-border-radius: 2px 0px 0px 2px;
        padding: 8px 15px;
    }
    
    @media only screen and (max-width: 720px) {
        footer .m-flex-col {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .footer--join-us {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin: 0px;
            padding: 0px;
        }
        .footer--join-us fieldset div {
            margin: 0px auto;
        }
        .footer--join-us button {
            width: 95%;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            margin: 0px;
            border-radius: 0px 0px 2px 2px;
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
        }
        .footer--join-us input {
            width: 95%;
            margin: 0px;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            border-radius: 2px 2px 0px 0px;
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
        }
    }