.navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: .9em;
}

.navbar {
    background-image: -webkit-repeating-linear-gradient(right, #9079e1 0, #2cd6aa 25%, #28aff8 50%, #9079e1);
    background-image: -o-repeating-linear-gradient(right, #9079e1 0, #2cd6aa 25%, #28aff8 50%, #9079e1);
    background-image: repeating-linear-gradient(270deg, #9079e1 0, #2cd6aa 25%, #28aff8 50%, #9079e1);
    background-repeat: no-repeat;
    background-size: 100% 0.35em;
    background-position: 100% 0%;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    direction: rtl;
    width: 100%;
    height: 40px;
    background-color: #fafafa;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
    top: 0px;
    box-shadow: 0px 1px 25px -6px black;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
}

nav.hidden {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.navbar--menu {
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 100%;
    float: right;
}

.navbar .navbar--menu>ul {
    list-style: none;
    padding-right: 0px;
    height: 100%;
    margin: 0px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.navbar .navbar--menu>ul li {
    display: inline-block;
    height: 95%;
    margin: 0px;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: -webkit-linear-gradient(330deg, #84fab0 0%, #8fd3f4 100%);
    background-image: -o-linear-gradient(330deg, #84fab0 0%, #8fd3f4 100%);
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: 95% 75%;
    background-origin: border-box;
    text-align: center;
    line-height: 18px;
    transition: all .25s ease-in;
    -webkit-transition: all .25 ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    /* border-bottom: 1px solid #84faaf00; */
}

.navbar .navbar--menu ul li a {
    display: inline-block;
    padding-top: 10px;
}

.navbar ul li:hover {
    background-size: 100% 96%;
    -webkit-box-shadow: 0px 0px 5px #84faab7e;
    box-shadow: 0px 0px 5px #84faab7e;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}

.drop-down-item {
    background: #fafafa;
    position: absolute;
    right: 0px;
    top: 36px;
    display: none;
    flex-direction: column;
    min-width: 190px;
    padding: 4px 5px 12px 5px;
    width: auto;
    border-radius: 3px 0px 3px 3px;
    text-align: center;
}

.drop-down-item ul {
    padding: 0px;
}

.drop-down-item li {
    display: block;
    line-height: 1.2em;
    padding: 0;
    padding: 4px 4px 11px 4px;
    width: 95%;
    margin: 0px auto;
    text-align: center;
}

.drop-down-item li a {
    display: block;
}

.navbar .navbar--search {
    width: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 7px 2px;
    height: 30px;
}

.navbar--search>* {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    color: black;
    background: transparent;
    height: 35px;
}

.navbar--search button {
    border-top-right-radius: 3px;
    float: left;
    border-bottom-right-radius: 4px;
    -webkit-border-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))) 100% 0%;
    -webkit-border-image: -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 100% 0%;
    -o-border-image: -o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 100% 0%;
    border-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))) 100% 0%;
    border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 100% 0%;
    -webkit-transition: -webkit-transform .3s linear, -webkit-box-shadow .3s linear;
    transition: -webkit-transform .3s linear, -webkit-box-shadow .3s linear;
    transition: transform .3s linear, box-shadow .3s linear;
    transition: transform .3s linear, box-shadow .3s linear, -webkit-transform .3s linear, -webkit-box-shadow .3s linear;
    -webkit-transition: transform .3s linear, box-shadow .3s linear;
    -moz-transition: transform .3s linear, box-shadow .3s linear;
    -ms-transition: transform .3s linear, box-shadow .3s linear;
    -o-transition: transform .3s linear, box-shadow .3s linear;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

.input-search {
    border-bottom-left-radius: 4px;
    position: absolute;
    width: fit-content;
    top: 39px;
    left: 0px;
    margin: 0px;
    padding: 0px 3px;
    width: 40%;
    color: white;
    -webkit-border-image: -webkit-gradient(linear, right top, left top, from(white), to(rgba(0, 0, 0, 0))) 100% 0%;
    -webkit-border-image: -webkit-linear-gradient(right, white, rgba(0, 0, 0, 0)) 100% 0%;
    -o-border-image: -o-linear-gradient(right, white, rgba(0, 0, 0, 0)) 100% 0%;
    border-image: -webkit-gradient(linear, right top, left top, from(white), to(rgba(0, 0, 0, 0))) 100% 0%;
    border-image: linear-gradient(to left, white, rgba(0, 0, 0, 0)) 100% 0%;
    height: 0px;
    background: rgba(53, 53, 53, 0.5);
    opacity: 0;
}

.navbar button:focus,
.navbar button:hover,
.navbar button:active {
    outline: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

.overlay {
    z-index: 499;
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000d5;
}

.navbar .navbar-collapse-btn {
    display: none;
}

.m-navbar--menu {
    display: none;
    position: absolute;
}

@media only screen and (max-width: 720px) {
    .navbar .navbar-collapse-btn {
        display: inline-block;
        position: relative;
        right: 5px;
        top: 2px;
        padding: 3px 6px;
        border-radius: 3px;
        box-shadow: 0px 0px 5px grey;
        border: 1px solid grey;
    }
    .navbar .navbar-collapse-btn:hover {
        box-shadow: 0px 0px 5px inset grey;
    }
    .navbar--menu {
        display: none;
    }
    .m-navbar--menu {
        position: fixed;
        width: 70%;
        max-width: 70%;
        top: 40px;
        right: 15%;
        margin: 0px auto;
        background: #fafafa;
        display: none;
        z-index: 500;
        border-radius: 0px 0px 15px 15px;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.85);
        font-weight: 550;
        overflow: hidden;
    }
    .m-drop-down-item {
        display: none;
        position: relative;
        margin: 0px auto;
        background: #fafafa;
    }
    .m-navbar--menu ul {
        width: 100%;
        margin: 2px auto;
    }
    .m-navbar--menu ul li {
        display: block;
        padding: 4px 5px;
        background-image: -webkit-linear-gradient(330deg, #84fab0 0%, #8fd3f4 100%);
        background-image: -o-linear-gradient(330deg, #84fab0 0%, #8fd3f4 100%);
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        background-repeat: no-repeat;
        background-size: 100% 0;
        background-position: 100% 50%;
        background-origin: border-box;
        box-shadow: none;
        text-align: center;
        transition: all .5s ease;
    }
    .m-navbar--menu ul li a {
        width: 100%;
        text-align: center;
        color: #3b112a;
    }
    .m-navbar--menu>ul li:hover {
        transform: translateZ(100px);
        background-size: 100% 100%;
        box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.85);
    }
    .fa-sort-down {
        transform: rotate(0deg);
        transform-origin: center;
        transition: all .3s ease;
    }
}