.mobile--version{
    margin: 0px;
    box-sizing: border-box;
    background-color:#f1f1f1;
}
.navbar--main--container{
    margin-top: 0px;
    top: 0px;
}
.site--page--news{
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin-top: 44px;
}
.choosen--news--cards--container{
    display: flex;
    flex-direction: column;
    direction: rtl;
    
}  
.news--card--container{
    max-height: 210px;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.76);
}
.news--card--container img{
    width:100%;
    transition: all 10s ease;
}
.news--card--container .news--card--overlay{
    position: absolute;
    top:0;
    right: 0;
    background: linear-gradient(to top,#0d0d0ef3,#0d0d0e60,#0d0d0e0e);
    width: 100%;
    height: 100%;
    z-index: 0;
    /*display: none;*/
    }
.news--seperator-caption-tag--container{
    width: 100%;
    direction: rtl;
}

.seperator-caption-tag {
    margin: 5px 2px;
    width: 100px;
    height: 35px;
    position: relative;
    text-align: center;
    background: darkred;
  }
  .seperator-caption-tag h5{
    
    padding-top: 7px;
    padding-right: 5px;
  }
  .seperator-caption-tag:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 15px solid rgba(110, 104, 104);
    border-top: 20px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .seperator-caption-tag:before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 15px solid darkred;
    border-top: 20px solid transparent;
    border-bottom: 15px solid transparent;
  }
.news--section--container{
width: 100%;
display: flex;
flex-direction: column;
}
/* .news--news--card{
direction: rtl;
max-height: 200px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 1px 0px;
padding-right: 5px;
border-top: 1px solid rgb(185, 185, 185);
background-color: white;
}
.news--news--card h5{
    padding-right: 1px;
    text-shadow: 0px 1px 4px darkgrey;
}
.news--news--card hr{
    width: 15%;
    height: 5px;
    border: none;
    background: rgb(65, 167, 17);
}
.news--news--card h3{
    text-shadow: 0px 1px 4px darkgrey;
}
.card--text{
}
.img--container{
    background-color: azure;
    width: 45%;
    overflow: hidden;
    box-shadow: 2px 1px 10px rgb(46, 45, 45);
    display: inline-block;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    height: 120px;
}
.img--container:hover{
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
}
.news--news--card img{
    width: 100%;
    height: 100%;
}
.news--card--info-tags{
    width: fit-content;
    font-size: .8em;
    position: relative;
    bottom: 4px;
    right: 1%;
}
.news--card--info-tags a{
    text-decoration: underline;
    color: darkgray;
    
}
.news--card--info-tags ul{
    list-style-type: none;
    padding-right: 0px;
}
.news--card--info-tags ul li{
    display: inline-block;
} */
.news-card {
	transition: height 0.3s ease;
	-webkit-transition: height 0.3s ease;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
	margin: 0 auto 1.6%;
	overflow: hidden;
	position: relative;
	font-size: 14px;
	line-height: 1.41em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.news-card:hover .details {
	left: 0;
}

.news-card:hover.alt .details {
	right: 0;
}

.news-card.alt .details {
	right: -100%;
	left: inherit;
}

.news-card .photo {
	height: 200px;
	position: relative;
}

.news-card .photo.photo1 {
	background-size: cover;
}

.news-card .photo.photo2 {
	background-size: cover;
}

.news-card .details {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	background: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
	color: #fff;
	font-family: "Open Sans";
	list-style: none;
	margin: 0;
	padding: 10px 15px;
	height: 200px;
    /*POSITION*/
	position: absolute;
	top: 0;
	left: -100%;
}

.news-card .details > li {
	padding: 3px 0;
}

.news-card .details li:before, .blog-card .details .tags ul:before {
	font-family: FontAwesome;
	margin-right: 10px;
	vertical-align: middle;
}

.news-card .details .author:before {
	content: "\f007";
}

.news-card .details .date:before {
	content: "\f133";
}

.news-card .details .tags ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.news-card .details .tags ul:before {
	content: "\f02b";
}

.news-card .details .tags li {
	display: inline-block;
	margin-right: 3px;
}

.news-card .details a {
	color: inherit;
	border-bottom: 1px dotted;
}

.news-card .details a:hover {
	color: #75D13B;
}

.news-card .description {
	padding: 8px;
	box-sizing: border-box;
	position: relative;
}

.news-card .description h1 {
	font-family: "Roboto";
	line-height: 1em;
	margin: 0 0 10px 0;
}

.news-card .description h2 {
	color: #9b9b9b;
	font-family: "Open Sans";
	line-height: 1.2em;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 400;
	margin: 1.2% 0;
}

.news-card .description p {
	position: relative;
	margin: 0;
	padding-top: 20px;
}

.news-card .description p:after {
    content: "";
    background: #75D13B;
    height: 6px;
    width: 40px;
    /*POSITION*/position: absolute;
    top: 6px;
    right: 0;
    transition:all 2s ease ;
    -webkit-transition:all 2s ease ;
    -moz-transition:all 2s ease ;
    -ms-transition:all 2s ease ;
    -o-transition:all 2s ease ;
}

.news-card .description a {
	color: #75D13B;
	margin-bottom: 10px;
	float: right;
}

.news-card .description a:after {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	content: "\f061";
	font-family: FontAwesome;
	margin-left: -10px;
	opacity: 0;
	vertical-align: middle;
}

.news-card .description a:hover:after {
	margin-left: 5px;
	opacity: 1;
}

@media screen and (min-width: 600px) {
	.news-card {
		height: 200px;
		max-width: 600px;
	}
	.news-card:hover .photo {
		transform: rotate(5deg) scale(1.3);
	}

	.news-card:hover.alt .photo {
		transform: rotate(-5deg) scale(1.3);
	}

	.news-card.alt .details {
		padding-left: 30px;
	}

	.news-card.alt .description {
		float: right;
	}

	.news-card.alt .description:before {
		transform: skewX(5deg);
		right: -15px;
		left: inherit;
	}

	.news-card.alt .photo {
		float: right;
	}

	.news-card .photo {
		transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		float: left;
		height: 100%;
		width: 40%;
	}

	.news-card .details {
		width: 40%;
	}

	.news-card .description {
		float: left;
		width: 60%;
		z-index: 0;
	}

	.news-card .description:before {
		transform: skewX(-5deg);
		content: "";
		background: #fff;
		width: 100%;
		z-index: -1;
        /*POSITION*/
		position: absolute;
		left: -15px;
		top: 0;
		bottom: 0;
	}
	svg {
		display: block;
		font: 1em 'Montserrat';
		height: 17px;
		width: -webkit-fill-available;
		
		margin: 2px auto;
	}
	
	.text-copy {
		fill: none;
		stroke: white;
		stroke-dasharray: 6% 29%;
		stroke-width: 1px;
		stroke-dashoffset: 0%;
		animation: stroke-offset 7s infinite linear;
	}
	
	.text-copy:nth-child(1){
		stroke: #4D163D;
		animation-delay: -1;
	}
	
	.text-copy:nth-child(2){
		stroke: #840037;
		animation-delay: -2s;
	}
	
	.text-copy:nth-child(3){
		stroke: #BD0034;
		animation-delay: -3s;
	}
	
	.text-copy:nth-child(4){
		stroke: #BD0034;
		animation-delay: -4s;
	}
	
	.text-copy:nth-child(5){
		stroke: #FDB731;
		animation-delay: -5s;
	}
	
	@keyframes stroke-offset{
		100% {stroke-dashoffset: -35%;}
	}
}